/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ebc763;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.news-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: rgb(216, 178, 103);
  box-shadow: 0 2px 4px rgba(247, 241, 241, 0.1);
}



.category {
  display: inline-block;
  background: #efff13;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 1.5em;
  margin: 10px;
  color:dodgerblue;
}

.actions {
  margin-top: 10px;
}



.btn.cancel {
  background: #6c757d;
  margin-left: 10px;
}

/* .btn-edit {
 
 
 
} */

.btn-delete {
 background-color: red;
 cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



img{
       height: 200px;
       width: 200px;
  }

  nav{
  
  font-weight: bold;
  display: flex;
  flex-direction: row ;
   background-color: #5a848f;
   justify-items: left;
   margin: 10px;
   padding: 20px;
   gap: 10px;
  }

 button{
  padding: 10px 20px;
  margin: 30px;
  font-size: large;
  border-radius: 10px;
  color:white;
  background-color: #007bff;
  }
  a{

  color:whitesmoke;
  text-decoration: none;
  
  }
  a:hover{
   text-decoration: none;
   font-weight: bold;
  }

 h3{

font-size: large;
font-weight: bold;
color: #007bff;
background-color: #1381ff;
  }

